<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.malka.androidappp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/malqa_iconn"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/malqa_iconn_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".design.Switch_Account"
            android:exported="false" />
        <activity
            android:name=".activities_main.FullImageActivity"
            android:exported="false" />
        <activity
            android:name=".activities_main.PlayActivity"
            android:exported="false" />
        <activity
            android:name=".design.add_address_main"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".design.add_address"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".design.CartActivity"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".design.order_done"
            android:exported="false" />
        <activity
            android:name=".design.negotiation_offers1"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".design.ProductReviews"
            android:exported="true"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.ProductDetails"
            android:exported="true"
            android:theme="@style/NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".botmnav_fragments.activities_main.business_signup.BusinessSignupPg3"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".botmnav_fragments.activities_main.business_signup.BusinessAccountCreate"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".botmnav_fragments.activities_main.business_signup.BusinessSignupPg1"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.forgot.forgot_changepass_reset_activity.ForgotChangepassActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.forgot.forgotpass_otpactivity.ActivityForgotPassOtpcode"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities_main.MainActivity"
            android:label="Bottom Nav"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities_main.login.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities_main.login.SignupOptionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities_main.signup_account.signup_pg1.SignupPg1"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities_main.signup_account.signup_pg2.SignupPg2"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.signup_account.signup_pg3.SignupPg3"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities_main.forgot.forgot_password.ForgotPasswordActivty"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.ListanItem"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.ChooseCategory"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.all_categories.SubCategories"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.AddPhoto"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".activities_main.new_flow.DynamicTemplate"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.ListingDetails"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.PricingActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.ListingDuration"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.PromotionalActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.Confirmation"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".activities_main.new_flow.ContinueActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".botmnav_fragments.question_ans_comnt.QuesAnsFragment"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".botmnav_fragments.browse_market.BrowseMarketFragment"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>